header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #343045;
}
.menu-navigation {
  padding: 28px 2% 28px 2%;
}

/* Esconde o menu e coloca ele fora da tela */
.mobile-navigation {
  position: fixed;
  top: 0;
  right: -100%; /* Começa fora da tela */
  width: 100%; /* Ajuste para maior ou menor */
  height: 100%;
  background: rgba(0, 0, 0, 0.9); /* Fundo escuro */
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  transition: right 0.4s ease-in-out; /* Animação suave */
  z-index: -1; /* Para garantir que fique sobre o conteúdo */
  border-bottom: 1px solid #c2c2c2ac;
}

/* Menu visível */
.mobile-navigation.ativo {
  right: 0; /* Move para dentro da tela */
}

.mobile-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

  gap: 30px;
}

/* Itens do menu */
.mobile-links li {
  text-align: center;
  padding-top: 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
/*
.mobile-navigation li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  transition: color 0.3s;
  text-transform: uppercase;
} */

.mobile-navigation li a:hover {
  color: #c0b7e8;
}

.mobile-btn {
  background-color: transparent;
  border: none;
  display: none;
}
.fechar {
  display: none;
}

.mobile-navigation .menu-botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.mobile-navigation .menu-botoes a {
  display: flex;
  align-items: center;
  width: 300px;
  padding: 20px;
}

/* fim mobile */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}
.navigation > img {
  max-width: 100%;
  width: 130px;
  height: 65px;
}
.navigation-links {
  display: flex;
  gap: 30px;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.menu-botoes {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 0.9rem;
  font-weight: 600;
}
.menu-botoes a {
  border: 2px solid #c0b7e8;
  color: #fff;
  border-radius: 30px;
  padding: 15px 30px;
  text-transform: uppercase;
}
.menu-botoes .junte-se {
  background: linear-gradient(to right, #8176af, #c0b7e8);
  color: #343045;
  border: none;
}
.mobile-btn.trocar .abrir {
  display: none;
}
.mobile-btn.trocar .fechar {
  display: block;
}

@media screen and (max-width: 1170px) {
  .navigation-links,
  .menu-botoes {
    display: none;
  }
  .mobile-btn {
    display: block;
    cursor: pointer;
  }
}

